<meta http-equiv="refresh" content="300" />

<div class="page">
  <div id="time"></div>
  <div class="row">
    <div class="col-md-9 main">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="10000">
        <ol class="carousel-indicators">
        <% @articles.each_with_index do |article, index| %>
          <li data-target="#carouselExampleCaptions" data-slide-to="<%= index %>" class="<%= "active" if index == 0 %>"></li> 
        <% end %>
        </ol>
        <div class="carousel-inner">
          <%  @articles.each_with_index do |article, index| %>
            <div class="carousel-item <%= "active" if index == 0 %>" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path article.photo %>')">
              <div class="carousel-caption d-none d-md-block">
                <h5><%= article.title %></h5>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3 calendars">
      <h3 class="text-center">Calendrier</h3>
      <hr>
      <div class="row">
        <% @calendars.each do |calendar| %>
          <div class="col-md-12 calendar">
            <div class="calendar-date text-center">
              <div>
                <div><%= calendar.date.strftime('%d') %></div>
                <div class="down"><%= calendar.date.strftime('%m') %></div>
              </div>
            </div>
            <div class="calendar-content">
              <div>
                <h4><%= calendar.title %></h4>
                <p><%= calendar.date.localtime.strftime('%Hh%M') %></p>
                <p><%= calendar.location %> - <%= calendar.city %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="news" class="col-md-9 news">
      <img id="news-img" class="img-fluid" src="" alt="">
      <div class="news-content">
        <h3 id="title">...</h3>
        <p id="description">...</p>
      </div>
    </div>
    <div class="col-md-3 meteo">
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="meteo-today">
            <%= icon('fas', 'sun') if @meteo[0]["weather"][0]["icon"].chop == "01" %>
            <%= icon('fas', 'cloud-sun') if @meteo[0]["weather"][0]["icon"].chop == "02" %>
            <%= icon('fas', 'cloud') if @meteo[0]["weather"][0]["icon"].chop == "03" %>
            <%= icon('fas', 'cloud') if @meteo[0]["weather"][0]["icon"].chop == "04" %>
            <%= icon('fas', 'cloud-rain') if @meteo[0]["weather"][0]["icon"].chop == "09" %>
            <%= icon('fas', 'cloud-sun-rain') if @meteo[0]["weather"][0]["icon"].chop == "10" %>
            <%= icon('fas', 'bolt') if @meteo[0]["weather"][0]["icon"].chop == "11" %>
            <%= icon('fas', 'snowflake') if @meteo[0]["weather"][0]["icon"].chop == "13" %>
            <%= icon('fas', 'smog') if @meteo[0]["weather"][0]["icon"].chop == "50" %>
            <%=  @meteo[0]["main"]["temp"].to_f.round %>°
          </div>
          <p>Aujourd'hui</p>
        </div>
        <div class="col-md-4 text-center">
          <div class="meteo-today">
          <%= icon('fas', 'sun') if @meteo[1]["weather"][0]["icon"].chop == "01" %>
          <%= icon('fas', 'cloud-sun') if @meteo[1]["weather"][0]["icon"].chop == "02" %>
          <%= icon('fas', 'cloud') if @meteo[1]["weather"][0]["icon"].chop == "03" %>
          <%= icon('fas', 'cloud') if @meteo[1]["weather"][0]["icon"].chop == "04" %>
          <%= icon('fas', 'cloud-rain') if @meteo[1]["weather"][0]["icon"].chop == "09" %>
          <%= icon('fas', 'cloud-sun-rain') if @meteo[0]["weather"][0]["icon"].chop == "10" %>
          <%= icon('fas', 'bolt') if @meteo[1]["weather"][0]["icon"].chop == "11" %>
          <%= icon('fas', 'snowflake') if @meteo[1]["weather"][0]["icon"].chop == "13" %>
          <%= icon('fas', 'smog') if @meteo[1]["weather"][0]["icon"].chop == "50" %>
          <%=  @meteo[1]["main"]["temp"].to_f.round %>°</div>
          <p>3h</p>
        </div>
        <div class="col-md-4 text-center">
          <div class="meteo-today">
          <%= icon('fas', 'sun') if @meteo[2]["weather"][0]["icon"].chop == "01" %>
          <%= icon('fas', 'cloud-sun') if @meteo[2]["weather"][0]["icon"].chop == "02" %>
          <%= icon('fas', 'cloud') if @meteo[2]["weather"][0]["icon"].chop == "03" %>
          <%= icon('fas', 'cloud') if @meteo[2]["weather"][0]["icon"].chop == "04" %>
          <%= icon('fas', 'cloud-rain') if @meteo[2]["weather"][0]["icon"].chop == "09" %>
          <%= icon('fas', 'cloud-sun-rain') if @meteo[2]["weather"][0]["icon"].chop == "10" %>
          <%= icon('fas', 'bolt') if @meteo[2]["weather"][0]["icon"].chop == "11" %>
          <%= icon('fas', 'snowflake') if @meteo[2]["weather"][0]["icon"].chop == "13" %>
          <%= icon('fas', 'smog') if @meteo[2]["weather"][0]["icon"].chop == "50" %>
          <%=  @meteo[2]["main"]["temp"].to_f.round %>°</div>
          <p>6h</p>
        </div>
      </div>
    </div>
  </div>
</div>